:root {
  --primary-color: #425b84;
  --secondary-color: #5b7bb4;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 1rem/1.5 'Arial', sans-serif;  /* normal is the font weight 1rem/1.5 is the font size and the line height */
  background: var(--primary-color);
  color: #fff;
  overflow-x: hidden; /* Just in case to have no scroll bar on the horizontal axis */
  padding-bottom: 50px;
}

#main-header {
  background: var(--secondary-color);
  padding: 4rem 0;
}

.container {  /* Header container */
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

#timeline ul {
  background: var(--primary-color);
  padding: 50px 0;
}

/* Create Line */
#timeline ul li {
  list-style: none;
  position: relative; /* To be able to position the content absolute (the dots) */
  width: 6px; /* The line width */
  margin: 0 auto; /* To have everything in the middle */
  padding-top: 50px;
  background: #fff;
}

/* Boxes */
#timeline ul li div {
  position: relative;
  bottom: 0;  /* To start from the bottom */
  width: 400px;
  padding: 1rem;
  background: var(--secondary-color);
  transition: all 0.5s ease-in-out;
  visibility: hidden; /* To don't show the boxes unless they are in the viewport (main.js) */
  opacity: 0; /* To don't show the boxes unless they are in the viewport (main.js) */
}

/* Right Side */
#timeline ul li:nth-child(odd) div {
  left: 40px; /* To have a space between the time line and the box */
  /* To initially transform the box from left: 40px; to left: 240px; */
  transform: translate(200px, 0); /* To have initially a greater space between the box and the time line - to have the effect the boxes come closer to the time line */
}

/* Left Side */
#timeline ul li:nth-child(even) div {
  left: -434px; /* To have a space between the time line and the box  (400 + 40 - 6)px */
  transform: translate(-200px, 0);
}

/* Dots - for each item in the timeline */
#timeline ul li:after { /* After each li element */
  content: '';
  position: absolute; /* To have a reference to its parent (the timeline)  */
  left: 50%;  /* To shift it by 50 % of the line width to the right (it starts in the middle of the line width) */
  bottom: 0;  /* To have the dot at the bottom of each li */
  width: 25px;  /* The width of the rectangle (later transformed to a dot) */
  height: 25px; /* The height of the rectangle (later transformed to a dot) */
  background: inherit;  /* To make the dot visible - From its parent (white) - just untill the dot is in the viewport (main.js) - afterwards it will change to var(--secondary-color) */
  transform: translateX(-50%);  /* To shift it back to the left */
  border-radius: 50%; /* To make it a dot */
  transition: background 0.5s ease-in-out;  /* To have a transition from white (#fff) to blue (var(--secondary-color)) */
}

/* Arrows Base */
#timeline div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0; /* Because the arrows come from the border (border-style: solid; - border-width: 8px 16px 8px 0; - border-color: transparent var(--secondary-color) transparent transparent;) */
  height: 0;
  border-style: solid;  /* This is a box with a border around it. */
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0; /* top | right | bottom | left - This is a box with a border around it.*/
  border-color: transparent var(--secondary-color) transparent transparent; /* top | right | bottom | left - This is a box with a border around it. */
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--secondary-color);
}

/* Show Boxes - for all boxes which are in the viewport (main.js) */
#timeline ul li.show div {
  transform: none;  /* To get rid of transform: translate(200px, 0); when the box is in the viewport */
  visibility: visible;  /* To show the boxes unless they are in the viewport (main.js) */
  opacity: 1; /* To show the boxes unless they are in the viewport (main.js) */
}

#timeline ul li.show:after {  /* The dots */
  background: var(--secondary-color); /* To change the color from initially white (#fff) to var(--secondary-color) */
}


@media(max-width: 900px) {
  #timeline ul li div {
    width: 250px; /* To reduce the width of the boxes */
  }

  #timeline ul li:nth-child(even) div { /* The left side boxes */
    left: -284px; /* To adapt the space between the boxes and the time line */
  }
}

@media(max-width: 600px) {  /* From here, the structure changes so that the time line is on the left and all boxes are on the right of it  */
  #timeline ul li {
    margin-left: 20px;  /* From margin: auto; -> middle */
  }

  #timeline ul li div {
    width: calc(100vw - 90px);  /* To make the width of the boxes adaptive with regard to the screen width (100vw) */
  }

  #timeline ul li:nth-child(even) div { /* All left side boxes */
    left: 40px; /* To bring the left boxes to the rigth */
  }

  #timeline ul li:nth-child(even) div:before {  /* To have the arrows from the left side boxes the arrow pointing to the left */
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var(--secondary-color) transparent transparent;
  }
}

